<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel Delivery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to EParcel</h1>
    <a href='/parcels/new'>Add an item to be shipped</a>
    <a href='/parcels'>See list of items to be shipped</a>
  </body>
</html>